.logo{
    width: 20%;
    height: auto;
}
.menu .nav-link{
    width: 100px !important;
    text-align: right !important;
}
.menu{
    margin-right: 20%;
    margin-left: 20%;
    background-color: transparent !important;
}
.btnsvg{
    margin-left: -50px !important;
    border: none !important;
    height: 35px;

    /* margin-top: -10px !important; */
}
.btnsvg:hover{
    background-color: none !important;
}
.srclbl{
    color: white !important;
}
.searchinput{
    width: 50%;
    margin-left: 3% !important;
    margin-bottom: 20px !important;
    height: 35px;
    background-color: transparent !important;
    border-radius: 45px !important;
    border:  2px solid rgb(64, 226, 126) !important;
}

.srccont{
    width: 100% !important;
    /* background-color: brown; */
}

@media(max-width:576px){
    .searchinput{
        width: 100%;  
        margin-left: 0% !important;
        height: 30px !important;
        margin-bottom: 20px !important;
    }
   .menu .nav-link{
        
        padding-left: 0% !important;
        text-align: left !important;
    }
    .btnsvg{
        margin-left: -50px !important;
        border: none !important;
        height: 30px !important;
        margin-top: -6px !important;
    }    
    .logo{
        width:80px;
        height: auto;
    }
    .navbar{
        width:  100%;
      padding: 0% !important;
    }
    .srclbl{
        width: 100% !important;

    }
    .srccont{
        width: 100% !important;
        /* background-color: brown; */
       padding: 0 !important;
    }
    .menu{
        margin-right: 0%;
        margin-left: 0%;}
}